extends ./layout/main.jade
include ./includes/page.jade

block content
  +page('home')
    include ./pages/home.jade
  +page('events')
    include ./pages/events.jade
  +page('philosophy')
    article
      include:markdown ./articles/philosopy.md
  //- TODO
  //- +page('community')
  //-   include:markdown ./articles/philosopy.md
  +page('team')
    include ./pages/team.jade
  +page('sponsors')
    include:markdown ./articles/philosopy.md