extends ./layout/main.jade
include ./includes/page.jade

block content
  +page('home')
    include ./pages/home.jade
  +page('events')
  +page('philosophy')
    include:markdown ./articles/philosopy.md
  +page('community')
  +page('team')
  +page('sponsors')