include ../includes/icon.jade
include ../includes/centered.jade
include ../includes/socialLink.jade
+centered()
  nav#social
    +socialLink(
      'facebook',
      'uniHackge on facebook', 
      'https://www.facebook.com/unihackge')
    +socialLink(
      'twitter',
      'uniHackge on twitter',
      'https://twitter.com/unihackge')
    +socialLink(
      'google-plus',
      'uniHackge on google+',
      'https://plus.google.com/107084110225494322165')
    +socialLink(
      'youtube-play',
      'uniHackge on youtube',
      'https://www.youtube.com/uniHackge')
  header
    h1.title .uniHack
    h2.subtitle Let's build things that matter. Together.