mixin mainNavigationLink(target,title,subtitle)
  li(class='for-' + target)
    a(href='#' + target)
      span.title=title
      span.subtitle=subtitle 


doctype html
html(lang="en")
  head
    title= uniHack
    link(rel="stylesheet" href="style.css")
  body.home-visable
    div#main-background
    nav#main
      a.unihack(href='#home') uniHack
      ul
        +mainNavigationLink('events', 'Events', 'რა გაგვიკეთებია აქამდე')
        +mainNavigationLink('philosophy', 'Philosophy', 'ჩვენი ხედვა')
        //- TODO
        //- +mainNavigationLink('community', 'Community', 'what epic crowd think')
        +mainNavigationLink('team', 'Team', 'ყველაზე გუნდი')
        +mainNavigationLink('sponsors', 'Sponsors', 'სპონსორები')
    div#main-wrapper
      block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    //- script(src="//cdn.rawgit.com/jondavidjohn/hidpi-canvas-polyfill/master/dist/hidpi-canvas.min.js")
    script(src='app.js')
