mixin mainNavigationLink(target,title,subtitle)
  li(class='for-' + target)
    a(href='#' + target)
      span.title=title
      span.subtitle=subtitle 

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(property='og:title', content='uniHack')
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://unihack.ge/images/logo.png')
    meta(property='og:url', content='http://unihack.ge/')
    meta(property='og:description', content='Let\'s build things that matter. Together.')
    meta(name='description', content='Let\'s build things that matter. Together.')
    meta(property='og:site_name', content='uniHack.ge')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='style.css')
    title= uniHack
  body.home-visable
    div#main-background
    nav#main
      a.unihack(href='#home') uniHack
      ul
        +mainNavigationLink('events', 'Events', 'რა გაგვიკეთებია აქამდე')
        +mainNavigationLink('philosophy', 'Philosophy', 'ჩვენი ხედვა')
        +mainNavigationLink('team', 'Team', 'ყველაზე გუნდი')
        //- +mainNavigationLink('sponsors', 'Sponsors', 'სპონსორები')
    div#main-wrapper
      block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src='app.js')
