doctype html
html(lang="en")
  head
    title= uniHack
    link(rel="stylesheet" href="style.css")
  body.home-visable
    div#main-wrapper
      block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//cdn.rawgit.com/jondavidjohn/hidpi-canvas-polyfill/master/dist/hidpi-canvas.min.js")
    script(src='app.js')
