
nav#main
  $navHeight = 8em
  $linkTitleFontSize = 2.25em
  $linkTitleHeight = 2.5em
  $linkSubtitleFontSize = 1.25em
  $linkSubtitleHeight = 1.75em
  $linkSpacingTop = 0.7
  $linkSpacingBottom = 1 - $linkSpacingTop
  $backgroundColor = hsl(0, 0, 95)
  .home-visable &
    position: absolute
    top: 100%
  position: fixed
  z-index: 1000
  top:0
  left: 0
  right: 0
  height: $navHeight
  border-bottom: 0.1em solid $lightGray
  background: $lightestGray
  .unihack
    font-family: $logoFontFamily
    font-size: 3em
    position: absolute
    left: 0
    top: 0
    bottom: 0
    color: $darkGray
    height: ($navHeight / @font-size)
    line-height: @height
    margin: 0 (3 / @font-size)
    &:before
      content: '.'
      color: $blue
  ul
    position: absolute
    margin: 0
    right: 0
    bottom: 0
    top: 0
    li
      display: inline-block
      height: 100%
      a
        $freeSpace = $navHeight - ($linkTitleHeight + $linkSubtitleHeight)
        padding: $freeSpace*$linkSpacingTop $linkTitleFontSize $freeSpace*$linkSpacingBottom 
        display: block
        box-shadow: inset 0 0 $blue
        transition: all 0.1s linear;
        &:hover
          box-shadow: inset 0 -3px $blue

        span
          display: block
          text-align: left
          font-family: $logoFontFamily
          text-shadow: 0 0.05em white
        .title
          font-size: $linkTitleFontSize
          line-height: ($linkTitleHeight / @font-size)
          color: $darkGray
        .subtitle
          color: $lightGray
          font-size: $linkSubtitleFontSize
          line-height: ($linkSubtitleHeight / @font-size)
        







