.page-events
  $background = white
  $lineWidth = 0.2em
  $marginLeft = 6.5em
  .background
    background: $background
  .events
    margin-left: 12em
    border-left: solid $lineWidth $lighterGray
    padding: 2em 0 0 $marginLeft
  article
    width: 60em
    &+article
      margin-top: 7em
    &:hover
      header:not(.no-date):after
        transition: box-shadow 0.1s ease-out
        box-shadow: inset 0 0 $lightBlue
      nav
        transition: opacity 0.2s ease-in, top 0.1s ease-out
        opacity: 1
        top: 0
    header
      position: relative
      time
        position: absolute
        left: -($marginLeft + 8em)
        top: -0.5em
        i
          font-size: 2em
          line-height: 1em
          display: block
          font-style: normal
          text-align: right
          text-transform: uppercase
          color: $blue
          font-family: sans-serif
      &:before
        position: absolute
        content: ''
        width: 3em
        height: @width
        left: -($marginLeft +0.5*@width + 0.5*$lineWidth)
        background: $background
        top: -0.1em
      &.no-date:after
        content: '...'
        text-align: center
        color: $lightGray
        line-height: 2em
      &:after
        top: 0.1em
        border-radius: 50%
        border: solid @top $lighterGray
        position: absolute
        content: ''
        width: 2.4em
        height: @width
        left: -($marginLeft +0.5*@width+@top + 0.5*$lineWidth)
        box-shadow: inset 0 -2.4em $lightestGray
        background: $lightBlue

      h1
        display: inline-block
        font-size: 2.2em 
        font-family: $logoFontFamily
        color: $darkGray
        margin: 0
        text-transform: uppercase
      nav
        position: relative;
        opacity: 0
        top: -1em;
        display: inline-block
        font-size: 1.8em
        line-height: (2.2em / @font-size)
        a
          color: $lightGray
          margin-left: 0.5em
          transition: color 0.2s ease-out
          &:hover
            color: $gray
    p
      color: $gray
      font-size: 1.6em