#main-background
  z-index: 2
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0

.page-home
  height: 100%
  .content
    padding-top: 0
    background alpha($darkBlue,0.4)
    // box-shadow: inset 0 -40em 40em -40em black
  .background
    background: black
    background-attachment: fixed
    background-size: cover

    // background-image: url('http://eyesofodysseus.files.wordpress.com/2012/07/milky_way_sky-wide.jpg')
    // background-size: 3100px
    // background-position: 50% 0
    // background-image: url('http://upload.wikimedia.org/wikipedia/commons/9/9e/Milky_Way_Arch.jpg')
    // background-image: url('http://apod.nasa.gov/apod/image/0801/16500feetmilkywaykc2_brunier.jpg')
    //boli
    // background-image: url('http://www.creativecostumeshop.com/wp-content/uploads/2014/09/blackops-smoke-background.jpg')
    //kosmosidan dedamiwa da milky way
    // background-image: url('http://www.wallpapersas.com/wp-content/uploads/2013/01/Clouds-stars-earth-atmosphere.jpg')

    //qoxi da ca
    // background-image: url('https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/84659181/2c6afdb2513cbba3e00da4a5408a30de857d3300/2048.jpg')
    //abstaqtuli peisaji
    // background-image: url('http://wallpaperscraft.com/image/76385/5600x3733.jpg')
    // background-size: 3117px
    // background-position: 50% 0
    //tokios ca
    // background-image: url('https://c1.staticflickr.com/9/8399/8704121860_134444a8d9_h.jpg')
  a
    text-decoration: none
  header
    color: rgba(228, 228, 228, 1)
    text-shadow: 0 1px rgb(0, 0, 0)
    font-family: $logoFontFamily
    position: relative
    display: inline-block
    .title
      font-weight: normal
      margin: 0
      font-size: 10em
      line-height: 1em
    .subtitle
      margin: 0
      font-weight: normal
      font-size: 1.2em
      text-align: right
      height: 1.5em
      right: 0
      bottom: 0

nav#social
  position: absolute
  top: 7em
  right: 7em
  a
    display: inline-block
    font-size: 2em
    size: 1em 1em
    line-height: 1em
    color: white
    opacity: 0.8
    transition: opacity 0.2s ease-out
    &:hover
      opacity: 1
    span
      display: none
    &+a
      margin-left: 1em