#main-background
  z-index: 2
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
.page-home
  height: 100%
  .content
    padding-top: 0
  .background
    background: $darkBlue
  a
    text-decoration: none
  header
    color: rgba(228, 228, 228, 1)
    text-shadow: 0 1px rgb(0, 0, 0)
    font-family: $logoFontFamily
    position: relative
    display: inline-block
    .title
      font-weight: normal
      margin: 0
      font-size: 8em
      line-height: 1em
    .subtitle
      margin: 0
      font-weight: normal
      font-size: 1.6em
      text-align: right
      height: 1.5em
      right: 0
      bottom: 0

nav#social
  position: absolute
  top: 7em
  right: 7em
  a
    display: inline-block
    font-size: 2em
    size: 1em 1em
    line-height: 1em
    color: white
    opacity: 0.8
    transition: opacity 0.2s ease-out;
    &:hover
      opacity: 1
    span
      display: none
    &+a
      margin-left: 1em