.page-philosophy
  .background
    background: hsla(0,0,100,0.5)
  article
    margin: 0 auto
    padding-top: 5em
    font-size: 1.6em;
    line-height: 1.3em;
    width: (60em / @font-size)
    color: $darkGray
    text-align: justify
    h1:first-letter
      color: $lightBlue
      font-size: 2em
    a
      text-decoration: underline
      color $lightBlue