include ../includes/icon.jade
include ../includes/centered.jade
include ../includes/socialLink.jade
+centered()
  nav#social
    +socialLink(
      'facebook',
      t('uniHackge on %s',['facebook']),
      'https://www.facebook.com/unihackge')
    +socialLink(
      'twitter',
      t('uniHackge on %s',['twitter']),
      'https://twitter.com/unihackge')
    +socialLink(
      'google-plus',
      t('uniHackge on %s',['google+']),
      'https://plus.google.com/107084110225494322165')
    +socialLink(
      'youtube-play',
      t('uniHackge on %s',['youtube']),
      'https://www.youtube.com/uniHackge')
    +socialLink(
      'envelope',
      'contact us',
      'mailto:team@unihack.ge?Subject=wow%20much%20love')
  header
    h1.title .uniHack
    h2.subtitle t("Let's build things that matter. Together.")